@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@700&display=swap');

.sale-item .on-sale.timer-container::after {
    content: "セール中";
}

.sale-more-button::before {
    content: "もっと見る";
}

.sale-more-button.highlight::before {
    content: "一部を表示";
}

.sale-text::after {
    content: "最近のイベントしか見ることができます。";
}

.item::before {
    content: "期限切れ";
}

.item.upcoming::before {
    content: "時間終了";
}

.item.steam a::before {
    content: "Steam";
}

.item.epic a::before {
    content: "Epic Gamesストア";
}

.item.gog a::before {
    content: "GOG";
}

.item.ubi a::before {
    content: "Ubisoftストア";
}

.item.fanatical a::before {
    content: "Fanatical";
}

.item.humble a::before {
    content: "Humble Bundle";
}

.item.prime a::before {
    content: "Prime Gaming";
}

.item.psplus a::before {
    content: "Playstationストア";
}

.item.xbox a::before {
    content: "Xboxストア";
}

.item a::after {
    content: "でもらう";
}

.item.bundle a::after {
    content: "で購入";
}

.item.psplus a::after,
.item.prime a::after,
.item.choice a::after {
    content: "でサブスクライブ";
}

.item.upcoming a::before {
    content: "確認"!important;
}

.item.upcoming a::after {
    content: "する"!important;
}

.language-select[data-lang="ja"]::before {
    content: "";
}

.header-menu-text {
    font-family: 'M PLUS 1 Code',"monospace","Lato","Noto Sans JP","Open Sans",sans-serif;
}

header .nav-home .header-menu-text::after {
    content: "トップ";
}

header .nav-tv .header-menu-text::after {
    content: "テレビ";
}

header .nav-movie .header-menu-text::after {
    content: "シネマ";
}

header .nav-anime .header-menu-text::after {
    content: "アニメ";
}

header .nav-games .header-menu-text::after {
    content: "ゲーム";
}

header .nav-books .header-menu-text::after {
    content: "ブック";
}

header .nav-music .header-menu-text::after {
    content: "ソング";
}

header .nav-support .header-menu-text::after {
    content: "サポート";
}

.language-text::after {
    font-family: 'M PLUS 1 Code',"monospace","Lato","Noto Sans JP","Open Sans",sans-serif;
}

.language-select[data-lang="en"] .language-text::after {
    content: "英語";
}

.language-select[data-lang="ja"] .language-text::after {
    content: "日本語";
}

.language-select[data-lang="ko"] .language-text::after {
    content: "韓国語";
}